$primary-color: rgba(234, 114, 140, 0.9);
$light-color: #f4f4f4;
$screen-width: 1200px;
$background-image: url(https://source.unsplash.com/weekly?sleeping);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
